<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tomclaw.appsend"
          android:versionCode="9"
          android:versionName="2.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@style/Theme.Light">
        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="${HOCKEYAPP_APP_ID}" />
        <activity android:name="com.tomclaw.appsend.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tomclaw.appsend.AboutActivity"
                android:label="@string/info"/>
        <activity android:name="com.tomclaw.appsend.SettingsActivity"
                android:label="@string/settings"/>
    </application>
</manifest>
