<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.REQUEST_DELETE_PACKAGES"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".Appteka"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".main.settings.SettingsActivity_"
            android:label="@string/settings" />
        <activity
            android:name=".screen.upload.UploadActivity"
            android:label="@string/upload" />
        <activity
            android:name=".main.unpublish.UnpublishActivity_"
            android:label="@string/unpublish_file"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.store.FilesActivity_"
            android:label="@string/profile_apps"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.local.SelectLocalAppActivity_"
            android:label="@string/select_app"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.store.search.SearchActivity_"
            android:label="@string/search_app"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".screen.moderation.ModerationActivity"
            android:label="@string/apps_on_moderation" />
        <activity
            android:name=".screen.chat.ChatActivity"
            android:label="@string/chat_activity" />
        <activity
            android:name=".screen.details.DetailsActivity"
            android:exported="true"
            android:label="@string/details_activity">
            <intent-filter android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="appsend.store" />
                <data android:host="appteka.store" />
                <data android:pathPrefix="/app" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="play.google.com" />
                <data android:pathPrefix="/store/apps/details" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.rate.RateActivity"
            android:label="@string/rate_app" />
        <activity
            android:name=".screen.favorite.FavoriteActivity"
            android:label="@string/favorite_activity" />
        <activity
            android:name=".screen.auth.request_code.RequestCodeActivity"
            android:label="@string/your_email" />
        <activity
            android:name=".screen.auth.verify_code.VerifyCodeActivity"
            android:label="@string/verify_email" />
        <activity
            android:name=".screen.permissions.PermissionsActivity"
            android:label="@string/required_permissions" />
        <activity android:name=".screen.gallery.GalleryActivity" />
        <activity
            android:name=".screen.profile.ProfileActivity"
            android:exported="true"
            android:label="@string/profile"
            android:windowSoftInputMode="stateHidden">
            <intent-filter android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="appsend.store" />
                <data android:host="appteka.store" />
                <data android:host="appteka.org" />
                <data android:pathPrefix="/profile" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.reviews.ReviewsActivity" />
        <activity
            android:name=".screen.home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.ratings.RatingsActivity" />
        <activity android:name=".screen.agreement.AgreementActivity" />
        <activity android:name=".screen.about.AboutActivity" />
        <activity android:name=".screen.installed.InstalledActivity" />
        <activity android:name=".screen.distro.DistroActivity" />
        <activity android:name=".screen.subscriptions.SubscriptionsActivity" />
        <activity android:name=".screen.feed.FeedActivity" />
        <activity android:name=".screen.post.PostActivity" />
        <activity android:name=".screen.downloads.DownloadsActivity" />
        <activity android:name=".screen.unlink.UnlinkActivity" />

        <service android:name=".download.DownloadService" />

        <service android:name=".upload.UploadService" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>
