<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomclaw.appsend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.REQUEST_DELETE_PACKAGES"
        tools:remove="android:maxSdkVersion" />

    <application
        android:name=".Appteka_"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="appcenter.app_identifier"
            android:value="${APPCENTER_APP_ID}" />

        <activity
            android:name=".main.home.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.about.AboutActivity"
            android:label="@string/info" />
        <activity
            android:name=".main.settings.SettingsActivity_"
            android:label="@string/settings" />
        <activity
            android:name=".main.upload.UploadActivity"
            android:label="@string/upload" />
        <activity
            android:name=".main.download.DownloadActivity"
            android:label="@string/download"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="appsend.store"
                    android:pathPrefix="/app" />
                <data
                    android:host="appteka.store"
                    android:pathPrefix="/app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.permissions.PermissionsActivity_"
            android:label="@string/required_permissions" />
        <activity
            android:name=".main.abuse.AbuseActivity_"
            android:label="@string/abuse" />
        <activity
            android:name=".main.meta.MetaActivity"
            android:label="@string/description"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.ratings.RatingsActivity_"
            android:label="@string/ratings"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.profile.ProfileActivity_"
            android:label="@string/profile"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="appsend.store"
                    android:pathPrefix="/profile" />
                <data
                    android:host="appteka.store"
                    android:pathPrefix="/profile" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.unlink.UnlinkActivity_"
            android:label="@string/unlink_file"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.unpublish.UnpublishActivity_"
            android:label="@string/unpublish_file"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.profile.list.FilesActivity_"
            android:label="@string/profile_apps"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.local.DistroActivity_"
            android:label="@string/nav_distro"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.local.InstalledActivity_"
            android:label="@string/nav_installed"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.local.SelectLocalAppActivity_"
            android:label="@string/select_app"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.store.search.SearchActivity_"
            android:label="@string/search_app"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".main.auth.LoginActivity_"
            android:label="@string/login"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".main.auth.RegisterActivity_"
            android:label="@string/register"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".main.migrate.MigrateActivity_"
            android:label="@string/migrate_title"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".screen.moderation.ModerationActivity"
            android:label="@string/apps_on_moderation" />

        <provider
            android:name=".core.GlobalProvider"
            android:authorities="com.tomclaw.appsend.core.GlobalProvider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>